.flex-ac {
  display: flex;
  align-items: center;
}

.flex-jc {
  display: flex;
  justify-content: center;
}

.flex-js {
  display: flex;
  justify-content: space-between;
}

.flex-cc {
  display: flex;
  align-items: center;
  justify-content: center;
}
