@font-face {
  font-family: 'iconfont'; /* project id 1209920 */
  src: url('//at.alicdn.com/t/font_1209920_pi4vlm98bws.eot');
  src: url('//at.alicdn.com/t/font_1209920_pi4vlm98bws.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1209920_pi4vlm98bws.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1209920_pi4vlm98bws.woff') format('woff'),
    url('//at.alicdn.com/t/font_1209920_pi4vlm98bws.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1209920_pi4vlm98bws.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tabbar-wenjuan::before {
  content: '\e600';
}

.tabbar-pinggu::before {
  content: '\e651';
}

.tabbar-wo::before {
  content: '\e60f';
}

.shangyiye::before {
  content: '\e620';
}

.xiayiye::before {
  content: '\e60a';
}

.wenjuan::before {
  content: '\e65b';
}

.chenggong::before {
  content: '\e605';
}

.zhuangtai::before {
  content: '\e655';
}

.bianji::before {
  content: '\e669';
}

.shuju::before {
  content: '\e61a';
}

.gengduo::before {
  content: '\e670';
}

.fenxiang::before {
  content: '\e633';
}
