@import '~vux/src/styles/variable.less';

.weui-tabbar {
  position: unset !important;
  .weui-tabbar__item {
    text-decoration: none;
    .weui-tabbar__icon {
      line-height: 27px;
    }
  }

  .weui-bar__item_on {
    .weui-tabbar__icon {
      .iconfont {
        color: @tabbar-text-active-color !important;
      }
    }
  }
}
