@header-background-color: #38373d;
@button-primary-bg-color: #39bf68;
@button-plain-primary-color: #39bf68;
@button-plain-primary-border-color: #39bf68;
@button-tab-border-color: #39bf68;
@button-tab-default-border-color: #39bf68;
@button-tab-active-border-color: #39bf68;
@button-tab-active-background-color: #39bf68;
@dialog-button-text-primary-color: #39bf68;
@timeline-item-bg-color: #359fdd;
